:root {
  --primary: White;
  --secondary: White;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card {
  margin: 100px auto 0;
  width: 600px;
  height: 400px;
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face__front {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face__front h2 {
  color: Black;
  font-size: 32px;
}

.card__face__back {
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
}

.card__face__back h2 {
  color: black;
  font-size: 32px;
}

.button__container {
  text-align: center;
  justify-content: center;
  position: relative;
}

.button {
  width: 170px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 48;
  background-color: black;
  color: #ff5eac;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 40px;
  transition:all 0.5s;
  }
  
  .button:hover {
  background: none;
  color: black;
  outline-style: solid;
  outline-color: black;
  }
