@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.container {
    width: 80%;
    margin: 10px auto;
}
.carousel {
    border: 2px solid black;
    height: 400px;

}
.slider {
    display: flex;
    height: 100%;
    width: 400%;
    border: 1px solid white;  
    transition: all 0.5s; 
}
.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.controls .arrow i {
    font-size: 60px;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}
.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.controls ul li {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 10px;
    background: white;
    cursor: pointer;
}
.controls ul li.selected {
    background: transparent;
}