@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.create {
max-width: 800px;
margin: 0 auto;
text-align: center;
}

.form {
height: 225px; 
}

.label {
text-align: left;
display: block;
font-size: 40px;
color: black;
margin-bottom: 10px;
}

.h2 {
font-size: 80px;
color: black;
margin-bottom: 10px;
}

.input {
outline: none;
border: none;
line-height: 1;
font-weight: 600;
font-size: 1.3rem;
color: black;
text-align: center;
max-width: 380px;
width: 100%;
height: 60px;
background-color: #767676;
border-radius: 55px;
}

.button {
width: 150px;
height: 49px;
outline: none;
border: none;
border-radius: 48;
background-color: black;
color: #ff5eac;
text-transform: uppercase;
font-weight: 600;
font-size: 20px;
margin: 20px 20px;
margin-left: 0px;
transition:all 0.5s;
}

.button:hover {
background: none;
color: black;
outline-style: solid;
outline-color: black;
}