@import url('https://fonts.googleleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

.body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(black,#ff5eac);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}


header .ProfileIcon
{
    color: #ff5eac;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ff5eac;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #ff5eac;
    color: black;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.h1 {
    position: relative;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    margin-top: 0%;
}
h1::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #ff5eac;
    /*border-right: 2px solid #ff5eac;*/
    overflow: hidden;
    animation: animate 8s linear infinite;
}

h2
{
    position: relative;
    font-size: 10rem;
    color: black;
    text-transform: uppercase;
}

h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #ff5eac;
    /*border-right: 2px solid #ff5eac;*/
    overflow: hidden;
    animation: animate 8s linear infinite;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:backgroundColor {
    --bgc: linear-gradient(black,#ff5eac);
}


.container {
    margin: auto;
    width: 320px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container .list {
    display: flex;
    width: 300px;
}

.container .list .content {
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.container .list .content .animation {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.container .list .content .animation .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.container .list .content:hover .animation .icon {
    transform: translateY(-50px);
}
.container .list .content .animation .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.container .list .content:hover .animation .text {
    opacity: 1;
    transform: translateY(13px);
}
.container .list .content:hover .animation .icon .indicator {
    position: relative;
    top: 10px;
    width: 60px;
    height: 60px;
    background: pink;
    border-radius: 50%;
    border:7px solid var(--bgc);
    transition: 0.5s;
}

.sun{
    width: 15rem;
    height: 15rem;
    background: radial-gradient( #F17022 50%, #fcb100 200%);
    border-radius: 50%;
    bottom: 10%;
    right: 45%;
    box-shadow: 0px 0px 70px #ffb60d4f;
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9
{
    position: absolute;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    background-color: rgb(208, 224, 255);
    animation: venus .1s ease 0s infinite normal forwards;

}

.star1{
    top: 30%;
    left: 20%;
}

.star2{
    top: 36%;
    left: 12%;
}

.star3{
    top: 45%;
    left: 29%;
}

.star4{
    top: 21%;
    left: 23%;
}

.star5{
    top: 55%;
    left: 24%;
}

.star6{
    top: 10%;
    right: 17%;
}

.star7{
    top: 16%;
    right: 57%;
}

.star8{
    top: 45%;
    right: 29%;
}

.star9{
    top: 55%;
    right: 24%;
}