@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:backgroundColor {
    --bgc: linear-gradient(black,#ff5eac);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 220px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container .list {
    display: flex;
    width: 300px;
}

.container .list .content {
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.container .list .content .animation {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.container .list .content .animation .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.container .list .content:hover .animation .icon {
    transform: translateY(-40px);
}
.container .list .content .animation .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.container .list .content:hover .animation .text {
    opacity: 1;
    transform: translateY(13px);
}
.container .list .content:hover .animation .icon .indicator {
    position: relative;
    top: 10px;
    width: 60px;
    height: 60px;
    background: pink;
    border-radius: 50%;
    border:7px solid var(--bgc);
    transition: 0.5s;
}